.settings-bg-container{
    margin-top: 56px; 
    min-height: calc(100vh - 56px); 
    background-size: cover;
    background-image: url('https://c1.wallpaperflare.com/preview/129/839/597/news-newsletter-newspaper-information.jpg');
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.settings-heading{
    background-color: rgb(252, 90, 90); 
    max-width: 50%;
    border: 1px solid white;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
@media (orientation: portrait) {
    .settings-bg-container{
        margin-top: 56px; 
        min-height: calc(100vh - 56px); 
        background-size: cover;
        background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20220414/pngtree-pile-of-newspapers-read-newsprint-print-photo-image_917489.jpg');
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .settings-heading{
        background-color: rgb(252, 90, 90); 
        max-width: 50%;
        border: 1px solid white;
        padding: 10px;
    }
}